@page "/urlmodels/create"
@using Microsoft.EntityFrameworkCore
@using Crudman.Models
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject IDbContextFactory<URLModelContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>URLModel</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="model" OnValidSubmit="AddURLModel" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="order" class="form-label">Ordering Number:</label> 
                <InputNumber id="order" @bind-Value="model.Order" class="form-control" /> 
                <ValidationMessage For="() => model.Order" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="url" class="form-label">URL:</label> 
                <InputText id="url" @bind-Value="model.URL" class="form-control" /> 
                <ValidationMessage For="() => model.URL" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/urlmodels">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private UrlModel model { get; set; } = default!;
    
    protected override void OnInitialized() => model ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddURLModel()
    {
        model.StatusCode = null;
        model.TimeCode = null;
        using var context = DbFactory.CreateDbContext();
        context.URLModel.Add(model);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/urlmodels");
    }
}
