@page "/urlmodels/edit"
@using Microsoft.EntityFrameworkCore
@using Crudman.Models
@inject IDbContextFactory<UrlModelContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>URLModel</h2>
<hr />
@if (UrlModel is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="UrlModel" OnValidSubmit="UpdateUrlModel" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="URLModel.Id" value="@UrlModel.Id" />
                <div class="mb-3">
                    <label for="order" class="form-label">Order:</label>
                    <InputNumber id="order" @bind-Value="UrlModel.Order" class="form-control" />
                    <ValidationMessage For="() => UrlModel.Order" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">URL:</label>
                    <InputText id="url" @bind-Value="UrlModel.Url" class="form-control" />
                    <ValidationMessage For="() => UrlModel.Url" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/urlmodels">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private UrlModel? UrlModel { get; set; }
    private string? originalUrl;

    protected override async Task OnInitializedAsync()
    {
        
        using var context = DbFactory.CreateDbContext();
        UrlModel ??= await context.UrlModel.FirstOrDefaultAsync(m => m.Id == Id);
        
        if (UrlModel is null)
        {
            NavigationManager.NotFound();
        }

        originalUrl = UrlModel!.Url;
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    public async Task UpdateUrlModel()
    {
        using var context = DbFactory.CreateDbContext();
        
        if(UrlModel!.Url != originalUrl)
        {
            UrlModel.ConnectionType = null;
            UrlModel.StatusCode = null;
        }
        
        context.Attach(UrlModel!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UrlModelExists(UrlModel!.Id))
            {
                NavigationManager.NotFound();
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/urlmodels");
    }

    private bool UrlModelExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.UrlModel.Any(e => e.Id == id);
    }
}
