@page "/"
@using Crudman.Helpers
@using Crudman.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Infrastructure.Internal
@using System.Net
@using System.Diagnostics
@implements IAsyncDisposable
@inject IDbContextFactory<URLModelContext> DbFactory
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Cruditizer Home</h1>

<QuickGrid Class="table" Items="context.URLModel">
    <PropertyColumn Property="urlmodel => urlmodel.Id" Title="ID"/>
    <PropertyColumn Property="urlmodel => urlmodel.Order" Title="Order #" IsDefaultSortColumn=true />
    <PropertyColumn Property="urlmodel => urlmodel.URL" Title="URL"/>
    <PropertyColumn Property="urlmodel => urlmodel.StatusCode" Title="Last Status"/>
        <PropertyColumn Property="urlmodel => urlmodel.TimeCode" Title="Timestamp" />
    <!--<TemplateColumn Context="urlmodel">
        <a href="@($"urlmodels/edit?id={urlmodel.Id}")">Edit</a> |
        <a href="@($"urlmodels/details?id={urlmodel.Id}")">Details</a> |
        <a href="@($"urlmodels/delete?id={urlmodel.Id}")">Delete</a>
    </TemplateColumn> -->
</QuickGrid>
<button class="btn btn-primary" @onclick="CheckURLs">Check</button>
@code {
    private URLModelContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

    // timeout in seconds for url check to complete.
    private const int timeoutSeconds = 5;

    public void CheckURLs()
    {
        List<URLModel> urlList = context.URLModel.ToList();
        Console.WriteLine("CheckURL run");
        CheckURLsHelper serv = new Helpers.CheckURLsHelper();

        List<Task<HttpStatusCode?>> taskList = new List<Task<HttpStatusCode?>>();
        foreach(URLModel u in urlList)
            {
                // need to confirm that URL is not null and is a "valid request URI"
                // currentl requires full absolute path (ie. www. isn't enough, need https://)
                if(u.URL!=null)
                {
                    Console.Write("URL is " + u.URL.ToString());
                    //Console.WriteLine($"{u.Id} {u.URL} ");

                    taskList.Add(Task<HttpStatusCode?>.Run(async () => await serv.Check(u.URL,ClientFactory, timeoutSeconds)));
                }
                else
                {
                    Console.WriteLine("URL is null");
                }
            }  
        while(taskList.Count >0)
        {
            int tInt = Task.WaitAny(taskList.ToArray());
            Console.WriteLine(tInt + " task completed.");
            if(taskList[tInt].Result is not null)
            {
            Console.WriteLine("abba "+tInt+" "+taskList[tInt].Result);
            }
            else
            {
                // no response code, it broke
                Console.WriteLine("abba task is null");
            }
            
            taskList.RemoveAt(tInt);
        }
    }

    public void GetURLFromDB()
    {
        List<URLModel> urlList = context.URLModel.ToList();
            foreach(URLModel u in urlList)
            {
                Console.WriteLine($"{u.Id} {u.URL} ");
            }
            
    /*    URLModel? foundURL = context.Find<URLModel>(id);
        if (foundURL!= null)
        {
            Console.WriteLine(foundURL.URL);
        }
        else
        {
            Console.WriteLine("URL model is null");
        }
    */
    }

// Update 
    


    private async Task UpdateModelFromStatus(URLModel model, HttpStatusCode code)
    {
        Console.WriteLine(model.URL +" updated with " + code + " " + DateTime.Now);
        return;
        model ??= await context.URLModel.FirstOrDefaultAsync(m => m.Id == model.Id);

        if (model is null)
        {
            Console.WriteLine("ATTEMPTED update of "+ model.URL + " but is NULL");
            return;
        }
        model.StatusCode = code;
        model.TimeCode = DateTime.Now;
    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
 
        context.Attach(model!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
           Console.WriteLine("ConcurrencyException with model!");
           throw;
        }
    }
    
}



