@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using Crudman.Models
@using Crudman.Services
@implements IAsyncDisposable
@inject IDbContextFactory<URLModelContext> DbFactory
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Cruditizer Home</h1>

<QuickGrid Class="table" Items="context.URLModel">
    <PropertyColumn Property="urlmodel => urlmodel.Order" Title="Order #"/>
    <TemplateColumn Context="statusIcon" Title="Status">Status Icon Here</TemplateColumn>
    <PropertyColumn Property="urlmodel => urlmodel.URL" Title="URL"/>

    <!--<TemplateColumn Context="urlmodel">
        <a href="@($"urlmodels/edit?id={urlmodel.Id}")">Edit</a> |
        <a href="@($"urlmodels/details?id={urlmodel.Id}")">Details</a> |
        <a href="@($"urlmodels/delete?id={urlmodel.Id}")">Delete</a>
    </TemplateColumn> -->
</QuickGrid>
<button class="btn btn-primary" @onclick="CheckURLs">Check</button>
@code {
    private URLModelContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

string url = "http://localhost:5262/weather";
    public void CheckURLs()
    {
        Console.WriteLine("CheckURL run");
         CheckURLsService serv = new Services.CheckURLsService();
         // for each url in db
         Task.Run(async () => await serv.Check(url,ClientFactory)).Wait();
         Console.WriteLine("CheckURLs finished.");
    }
}



