@page "/"
@using Crudman.Helpers
@using Crudman.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Infrastructure.Internal
@using System.Net
@using System.Diagnostics
@implements IAsyncDisposable
@inject IDbContextFactory<URLModelContext> DbFactory
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Cruditizer Home</h1>

<button class="btn btn-primary" @onclick="CheckURLs">Check</button>
<QuickGrid Class="table" Items="context.URLModel">
    <PropertyColumn Property="urlmodel => urlmodel.Id" Title="ID" />
    <PropertyColumn Property="urlmodel => urlmodel.Order" Title="Order #" IsDefaultSortColumn=true />
    <PropertyColumn Property="urlmodel => urlmodel.URL" Title="URL" />
    <PropertyColumn Property="urlmodel => urlmodel.StatusCode" Title="Last Status" />
    <PropertyColumn Property="urlmodel => urlmodel.TimeCode" Title="Timestamp" />
    <!--<TemplateColumn Context="urlmodel">
        <a href="@($"urlmodels/edit?id={urlmodel.Id}")">Edit</a> |
        <a href="@($"urlmodels/details?id={urlmodel.Id}")">Details</a> |
        <a href="@($"urlmodels/delete?id={urlmodel.Id}")">Delete</a>
    </TemplateColumn> -->
</QuickGrid>



@code {
        
    // timeout in seconds for url check to complete.
    private const int TIMEOUT_SECONDS = 5;
    private URLModelContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async void CheckURLs()
    {
        List<URLModel> urlList = context.URLModel.ToList();
        Console.WriteLine("CheckURL run");

        var taskList = new List<Task<CheckedURLStatus?>>();

        foreach (URLModel u in urlList)
        {
            if (u.URL is null)
            {
                Console.WriteLine("URL is null");
                continue;
            }

            Console.Write("URL is " + u.URL.ToString());
            taskList.Add(Task<CheckedURLStatus?>.Run(async () => await CheckURLsHelper.Check(u.URL, ClientFactory, TIMEOUT_SECONDS)));
        }

        while (taskList.Count > 0)
        {
            var completedTask = await Task.WhenAny(taskList.ToArray());
            taskList.Remove(completedTask);

            HandleCompletedURLModelCheckTask(completedTask);
        }
    }

    private void HandleCompletedURLModelCheckTask(Task<CheckedURLStatus?> completedTask)
    {
        if (completedTask.IsCanceled)
        {
            Console.WriteLine("Task was cancelled.");
        }

        if (completedTask.IsFaulted)
        {
            Console.WriteLine(completedTask.Exception);
        }


        if (completedTask.IsCompletedSuccessfully && completedTask.Result is not null)
        {
            Console.WriteLine("abba " + completedTask.Result);
        }
        else
        {
            // If Result is Null
        }
    }

    public void GetURLFromDB()
    {
        List<URLModel> urlList = context.URLModel.ToList();
        foreach (URLModel u in urlList)
        {
            Console.WriteLine($"{u.Id} {u.URL} ");
        }
    }

    private async Task UpdateModelFromStatus(URLModel model, HttpStatusCode code)
    {
        Console.WriteLine(model.URL + " updated with " + code + " " + DateTime.Now);
        return;
        model ??= await context.URLModel.FirstOrDefaultAsync(m => m.Id == model.Id);

        if (model is null)
        {
            Console.WriteLine("ATTEMPTED update of " + model.URL + " but is NULL");
            return;
        }
        model.StatusCode = code;
        model.TimeCode = DateTime.Now;
        // To protect from overposting attacks, enable the specific properties you want to bind to.
        // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.

        context.Attach(model!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            Console.WriteLine("ConcurrencyException with model!");
            throw;
        }
    }


    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}