@page "/"
@using Crudman.Helpers
@using Crudman.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@implements IAsyncDisposable
@inject IDbContextFactory<URLModelContext> DbFactory
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Cruditizer Home</h1>

<QuickGrid Class="table" Items="context.URLModel">
    <PropertyColumn Property="urlmodel => urlmodel.Id" Title="ID"/>
    <PropertyColumn Property="urlmodel => urlmodel.Order" Title="Order #"/>
    <TemplateColumn Context="statusIcon" Title="Status">Status Icon Here</TemplateColumn>
    <PropertyColumn Property="urlmodel => urlmodel.URL" Title="URL"/>

    <!--<TemplateColumn Context="urlmodel">
        <a href="@($"urlmodels/edit?id={urlmodel.Id}")">Edit</a> |
        <a href="@($"urlmodels/details?id={urlmodel.Id}")">Details</a> |
        <a href="@($"urlmodels/delete?id={urlmodel.Id}")">Delete</a>
    </TemplateColumn> -->
</QuickGrid>
<button class="btn btn-primary" @onclick="CheckURLs">Check</button>
@code {
    private URLModelContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

string url = "http://localhost:5262/weather";
int id = 1;
    public void CheckURLs()
    {
        List<URLModel> urlList = context.URLModel.ToList();
        Console.WriteLine("CheckURL run");
        CheckURLsHelper serv = new Helpers.CheckURLsHelper();

         foreach(URLModel u in urlList)
            {
                // need to confirm that URL is not null and is a "valid request URI"
                // currentl requires full absolute path (ie. www. isn't enough, need https://)
                if(u.URL!=null)
                {
                    Console.Write("URL is " + u.URL.ToString());
                    //Console.WriteLine($"{u.Id} {u.URL} ");
                    Task.Run(async () => await serv.Check(u.URL,ClientFactory)).Wait();
                }
                else
                {
                    Console.WriteLine("URL is null");
                }
            }  
    }

    public void GetURLFromDB()
    {
        List<URLModel> urlList = context.URLModel.ToList();
            foreach(URLModel u in urlList)
            {
                Console.WriteLine($"{u.Id} {u.URL} ");
            }
            
    /*    URLModel? foundURL = context.Find<URLModel>(id);
        if (foundURL!= null)
        {
            Console.WriteLine(foundURL.URL);
        }
        else
        {
            Console.WriteLine("URL model is null");
        }
    */
    }
}



