@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Cruditizer Home</h1>

<p>List of URLs to Send/Receive Crud from.</p>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="CheckURLs">Check</button>

@code {
    private int currentCount = 0;

    private void CheckURLs()
    {
        currentCount++;
    }
}
