@page "/"
@using Crudman.Helpers
@using Crudman.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Infrastructure.Internal
@using System.Net
@using System.Diagnostics
@implements IAsyncDisposable
@inject IDbContextFactory<UrlModelContext> DbFactory
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Cruditizer Home</h1>

<button class="btn btn-primary" @onclick="CheckUrls">Check</button>

<QuickGrid Class="table" Items="context.UrlModel">
    <PropertyColumn Property="urlmodel => urlmodel.Id" Title="ID" />
    <PropertyColumn Property="urlmodel => urlmodel.Order" Title="Order #" IsDefaultSortColumn=true />
    <PropertyColumn Property="urlmodel => urlmodel.Url" Title="URL" />
    <PropertyColumn Property="urlmodel => urlmodel.StatusCode" Title="Last Status" />
    <PropertyColumn Property="urlmodel => urlmodel.TimeCode" Title="Timestamp" />
</QuickGrid>

@code {
        
    private const int RESPONSE_TIMEOUT = 5;
    private UrlModelContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async void CheckUrls()
    {
        List<UrlModel> urlList = context.UrlModel.ToList();
        Console.WriteLine("CheckURL run");

        var taskList = new List<Task<CheckedUrlStatus>>();

        foreach (UrlModel u in urlList)
        {
            if (u.Url is null)
            {
                continue;
            }

            Console.WriteLine("URL is " + u.Url.ToString());
            taskList.Add(Task<CheckedUrlStatus>.Run(async () => await UrlStatusHelper.CheckStatus(u, ClientFactory, RESPONSE_TIMEOUT)));
        }

        while (taskList.Count > 0)
        {
            var completedTask = await Task.WhenAny(taskList.ToArray());
            taskList.Remove(completedTask);

            HandleCompletedUrlModelCheckTask(completedTask);
        }
    }

    private void HandleCompletedUrlModelCheckTask(Task<CheckedUrlStatus> completedTask)
    {
        CheckedUrlStatus status = completedTask.Result;
        // To be completed
        if (completedTask.IsCanceled)
        {
            Console.WriteLine("Task was cancelled externally.");
            Task.Run(async () => UpdateModelFromStatus(status.Model, null));
            return;
        }

        if (completedTask.IsFaulted)
        {
            Console.WriteLine("Task Faulted! ");
            Task.Run(async () => UpdateModelFromStatus(status.Model, null));
            return;
        }
        switch(status.Response)
        {
            case ConnectionType.Error:
            {
                break;
            }
            case ConnectionType.HostNotFound:
            {
                break;
            }
            case ConnectionType.Timeout:
            {
                break;
            }
            case ConnectionType.Connected:
            {
                break;
            }
        }

        Task.Run(async () => UpdateModelFromStatus(status.Model, status.Code));
    }

    private async Task UpdateModelFromStatus(UrlModel model, HttpStatusCode? code)
    {   
        using var context = DbFactory.CreateDbContext(); 
        model = await context.UrlModel.FirstAsync(m => m.Id == model.Id);

        if (model is null)
        {
            Console.WriteLine("ATTEMPTED update of database but model is NULL");
            return;
        }
        model.StatusCode = code;
        model.TimeCode = DateTime.Now;
        // TODO: Check for Overpost attack handling https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.

        context.Attach(model!).State = EntityState.Modified;

        try
        {
            Console.WriteLine("Trying to save changes of " + model.Url + " to database...");
            await context.SaveChangesAsync();
            Console.WriteLine(model.Url + " save success!");
        }
        catch (DbUpdateConcurrencyException)
        {
            Console.WriteLine("ConcurrencyException with model!");
            throw;
        }
        
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}